<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist-v1</title>
</head>
<body>
   <h1 style="color: rgb(255, 127, 127);"><%= Day %></h1>
   <ul>
    <%for (var i=0 ;i<newListItems.length;i++){%>
        <li style="color: black;"><%= newListItems[i] %></li>
    <%}%>
   </ul>
<!-- post request -->
<form action="/" method="post">
    <input type="text" name ="newItems">
    <button type="submit" name="button">Add</button>
</form>
</body>
</html>
